.poppins{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.oswald{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.logo{
    font-size: 48px;
    color: white;
    transition:ease-in-out 300ms;
}
.logo:hover{
    color: gray;
}

.underline{
    text-decoration: underline rgba(0,0,0,0.0);
    transition: ease-in-out 100ms;
}
.underline:hover{
    text-decoration: underline rgba(0,0,0,1);
}

#banner{
    background-image: url("assets/banner.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


#problema-grid{
    display: grid;
    grid-template-rows: 100px 0.9fr;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    ". ptitle ."
    "pcard1 pcard2 pcard3";
    place-items: center;
}
#problema-grid > h2{
    grid-area: ptitle;
}
#pcard1{
    grid-area: pcard1;
}
#pcard2{
    grid-area: pcard2;
}
#pcard3{
    grid-area: pcard3;
}

#sp-map{
    background-image: url('./assets/saopaulo.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#demo-cidade{
    background-color: #1CFF46;
}

.slider {
  width: 100%;
  max-width: 300px;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

@media screen and (max-width: 768px){
    #problema-grid{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}